<!DOCTYPE html>
<html lang="en">
    
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   
    
    <link rel="icon" href="{% static '/icons/logopeq.ico'%}">
    <title>{% block titulo %}Home{% endblock titulo %} </title>
    
    {% block css%}
     <link rel="stylesheet" href="{% static '/publica/css/index.css'%}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static '/publica/css/mediaquerysindex.css'%}?v={% now 'U' %}">
    {% endblock css %}
    
</head>

<body>
    
    <div class="banner">
        <header>
            <nav class="navbar">
                <a href="{% url 'inicio' %}" class="logo"><img src="{% static '/icons/Logo_hotel.png'%}" class="logo" alt="logo de hotel"></a>
                <ul class="menu" id="menu">
                    <li><a href= {% url 'reservas' %}>Reservas</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="Fotos.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
                <div class="menu-bar" id="menu-bar">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="user-icon">
                    <a href="login.html"><i class="fa-solid fa-user"></i></a>
                </div> 
            </nav>
        </header>
    </div>
         <main >
            {% block contenido %}{% endblock contenido %}

        </main>
        <footer>
            <div class="redes">
                <p>Seguinos en nuestras Redes Sociales</p>
                <div class="contenedor-iconos">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                  </ul>
                </div>
                <p>@Copyright 2022. Todos los derechos reservados</p>
              </div>
        </footer>
    

    </div>
    {% block js %}<script src="{% static './jss/scripts.js'%}"></script>{% endblock js %}
    
</body>

</html>