<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactanos</title>
    <link rel="stylesheet" href="./css/contacto.css">
    <link rel="stylesheet" href="./css/disenioindex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="./css/servicios.css">
    <link rel="icon" href="./icons/Logo_hotel_porteño.ico">
    <script src="https://kit.fontawesome.com/b87ec063d4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="banner">
        <header>
            <nav class="navbar">
                <a href="index.html" class="logo"><img src="./icons/Logo_hotel_porteño.png" class="logo" alt="logo del hotel"></a>
                <ul class="menu" id="menu">
                    <li><a href="Reservas.html">Reservas</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="Fotos.html">Galeria</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
                <div class="menu-bar" id="menu-bar">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="user-icon">
                    <a href="login.html"><i class="fa-solid fa-user"></i></a>                </div>

            </nav>
        </header>

    <div class="contenedor2">
        <div class="form">
            <div class="contacto-info">
                <h3 class="titulo">Ponete en contacto con nosotros</h3>
                
                <div class="info">
                    <div class="informacion">
                        <img src= "./icons/mapa.png" class="icon" alt="icono de locacion" />
                        <p>Buenos Aires, Argentina</p>
                    </div>
                    <div class="informacion">
                        <img src="./icons/mail.png" class="icon" alt="icono de un email" />
                        <p>hotelesporteños@gmail.com</p>
                    </div>
                    <div class="informacion">
                        <img src="./icons/tel.png" class="icon" alt="icono de un telefono" />
                        <p>5555-5555</p>
                    </div>
                </div>

                <div class="redes2">
                    <p>Encontranos en:</p>
                    <div class="rsociales-iconos">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp""></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="contacto-form">

                <form action="contacto.html" autocomplete="off">
                    <h3 class="titulo">Dejanos tu mensaje</h3>
                    <div class="input-contenedor">
                        <input type="text" name="nombre" class="input" />
                        <label for="">Nombre</label>
                        <span>Nombre</span>
                    </div>
                    <div class="input-contenedor">
                        <input type="email" name="correo" class="input" />
                        <label for="">Correo</label>
                        <span>Correo</span>
                    </div>
                    <div class="input-contenedor">
                        <input type="tel" name="telefono" class="input" />
                        <label for="">Telefono</label>
                        <span>Telefono</span>
                    </div>
                    <div class="input-contenedor textarea">
                        <textarea name="mensaje" class="input"></textarea>
                        <label for="">Tu mensaje</label>
                        <span>Tu mensaje</span>
                    </div>
                    <input type="submit" value="enviar" class="btn" />
                </form>
            </div>
        </div>
    </div>

    <script src="./jss/contacto.js"></script>
    <footer>
        <div class="redes">
          <p>Seguinos en nuestras Redes Sociales</p>
          <div class="contenedor-iconos">
            <ul>
              <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </div>
          <p>@Copyright 2022. Todos los derechos reservados</p>
        </div>
      </footer>
</body>

</html>