{% extends './base.html' %}
{% load static %}
{% block titulo %}Crear Cuenta{% endblock  %}
{% block css %}
<link rel="stylesheet"  href="{% static '/publica/css/login.css'%}">
{% endblock css %}
{% block h1 %}Crear Cuenta{% endblock h1 %}
    {% block contenido %}

    <section class="form-main">
        <div class="form-content">
          <div class="box">
            <form action="">
                <h3>Crear una Cuenta</h3>
                    <div class="input-box">
                        <input type="text" placeholder="Nombre de usuario" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="password" class="input-control">
                    </div>
                    <button type="submit" class="btn">Crear Cuenta</button>
                    
            </form>
            
           
          
        </div>
    </section>
</body>

</html>
{% endblock contenido %}
<body class="login">
    <section class="form-main">
        <div class="form-content">
            <div class="box">
                <h3>Crear una Cuenta</h3>
                <form action="">
                    <div class="input-box">
                        <input type="text" placeholder="Nombre de usuario" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="password" class="input-control">
                    </div>
                    <button type="submit" class="btn">Crear Cuenta</button>
                </form>
                <p>¿Ya tienes cuenta?<a href="login.html" class="gradient-text">Iniciar Sesión</a></p>
            </div>
            <a href="index.html" class="index"><button type="submit" class="btn-index">Volver a Home</button></a>
        </div>
    </section>
</body>

</html>