<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b87ec063d4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/disenioindex.css">
  <link rel="stylesheet" href="./css/mediaquerysindex.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="./css/nosotros.css">
  <link rel="icon" href="./icons/Logo_hotel_porteño.ico">
</head>

<body>
  <header>
    <div class="banner">
      <header>
        <nav class="navbar">
          <a  href="index.html" class="logo"><img src="./icons/Logo_hotel_porteño.png" class="logo" alt="logo de hotel"></a>
          <ul class="menu" id="menu">
            <li><a href="Reservas.html">Reservas</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="Fotos.html">Galeria</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
          <div class="menu-bar" id="menu-bar">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="user-icon">
            <a href="login.html"><i class="fa-solid fa-user"></i></a>          </div>

        </nav>
      </header>

      <main class="hero">
        <div class="info-content">
          <h1 class="contenth1">Nosotros</h1>
          <br>
          <h3 class="contenth3">Hotel El porteño, Relax y Health Club en un Hotel Clásico de Buenos Aires. <br>
            Reserve su estadía en El Hotel El porteño. Estamos ansiosos por recibirlo.</h3>
        </div>
      </main>
    </div>
  </header>
  <main>
    <div class="contenedor">
      <div class="nosotros">
        <h2 class="nosotros-titulo">Descubre los detalles que nos hacen diferentes</h2>
        <div class="nosotros-descripcion">
          <p>Disfrute de una relajante estancia de negocios o placer en el centro de Buenos Aires en Hoteles Porteños.
            Ubicado en el corazón de la bulliciosa capital, cerca de los distritos comerciales y financieros, y de las
            populares tiendas, atracciones y restaurantes, nuestro hotel contemporáneo es la puerta de entrada a lo
            mejor de Buenos Aires.</p>
          <p>Para ayudar con la planificación de su estancia, consulte las políticas de nuestro hotel a continuación.
            Para obtener más información o asistencia, póngase en contacto con el hotel y un miembro de nuestro hotel
            personal estará encantado de ayudarle.</p>
          <ul>
            <li>Hora de entrada: 3:00 p.m.</li>
            <li>Hora de salida: 12:00 p.m.</li>
            <li>Tarifas sujetas a cambio</li>
            <li>Al registrarse, los húespedes deben presentar una identificacion válida.</li>
            <li>El desayuno es tipo buffet y se puede comprar por separado si no está incluido en la tarifa.</li>
            <li>De acuerdo con las leyes fiscales del país, los ciudadanos argentinos y los extrajeros que residen en el
              país deben pagar una tasa del 21% por el IVA.</li>
            <li>Política del plan familiar: los niños menores de 12 años se hospedan sin cargo en las camas existentes y
              solo pagan la mitad de la tarifa de desayuno. </li>
            <li>política de mascotas: Se admiten mascotas hasta 12Kg.</li>
            <li>Salida tardía: 50% de la tarifa hasta las 6:00 p.m.</li>
            <li>Adulto extra: USD 50 + IVA</li>
            <li>Cama extra adulto: USD 50 + IVA </li>
            <li>Cuna: Sin cargo.</li>
            <li>Cama extra para niños: USD 50 + IVA</li>
            <li>Propina estándar de alimentos y bebidas: 10% a discreción del huésped.</li>
          </ul>
        </div>
      </div>

      <div class="galeria">
        <h2 class="galeria-titulo">Galeria</h2>
        <h3 class="galeria-subtitulo">Vea nuestro hotel y nuestros servicios.</h3>
        <div class="galeria-descripcion">
          <p>Entre los hoteles en Buenos Aires, Argentina, níngun destino reúne estilo, servicios y comodidades en una
            ubicación céntrica como Hoteles Porteños. Con instalaciones que van desde un moderno gimnasio hasta ocho
            sotisficadas salas de reuniones y un centro de negocios, hasta un restaurante. Somos la opción ideal para
            sus estadías de negocios o placer en la bulliciosa capital Argentina. Consulte nuestra galeria de fotos para
            obtener más información sobre las caracteristicas y las instalaciones del hotel.</p>
        </div>
        <!-- ACA va un carrusel de fotos con bootstrap -->
        <div class="galeria-img">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="./icons/imagen_hotel_1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="./icons/imagen_hotel_2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./icons/imagen_servicio_hotel.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </div>

      <div class="ubicacion">
        <h2 class="ubicacion-titulo">Ubicación</h2>
        <h3>Conveniente ubicado en el centro de Buenos Aires.</h3>
        <div class="ubicacion-descripcion">
          <p>En hotel Porteño está ubicado en el corazón del centro de Buenos Aires, cerca de centro de financieros y
            comerciales y de restaurantes de la calle peatonal Florida y el distrito de restaurantes y entretenimiento
            junto al rio de Puerto Madero.</p>
          <p>Si desea obtener más información sobre nuestro hotel en el centro de Buenos Aires, o para reservar
            alojamiento para una próxima visita, contactenos hoy.</p>
        </div>
        <div id="map">
          
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="redes">
      <p>Seguinos en nuestras Redes Sociales</p>
      <div class="contenedor-iconos">
        <ul>
          <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </div>
      <p>@Copyright 2022. Todos los derechos reservados</p>
    </div>
  </footer>
  <script src="./jss/api.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
  <script src="./jss/scripts.js"></script>
</body>

</html>